@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap');
body {
    padding: 0;
    margin: 0;
    background-color: #121212;
}

h1,
p {
    padding: 0;
    margin: 0;
}

h1 {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

.container {
    padding: 10px 20px;
}

.container>h1 {
    font-family: 'Roboto';
    color: #E7E7E7;
}

.primary {
    color: #FCB901;
}